{{#get "posts" limit="6" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |related|}}
    {{#if related}}
        <section class="section-container related-wrapper kg-canvas">
            <h3 class="section-title related-title">{{t 'Similar thoughts'}}</h3>
            <div class="post-feed{{#match @custom.blog_article_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.blog_article_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.blog_article_layout "Text-only"}} text-only{{/match}}{{#match @custom.blog_article_layout "Card"}} feed-card kg-grid kg-grid-3col{{/match}} gh-feed">
                {{#foreach posts}}
                    {{> "loop" noDate=false}}
                {{/foreach}}
            </div>
        </section>
    {{/if}}
{{/get}}