{{#unless @member}}
    <form class="form-wrapper cover-form inline-form" data-members-form>
        <input class="auth-email" type="email" data-members-email placeholder="{{t 'Enter your email'}}" required="true" autocomplete="false">

        <button class="button button-primary" type="submit" aria-label="Subscribe">
            <span class="default">{{t 'Subscribe'}}</span>
            <span class="loader">{{> icons/loader}}</span>
            <span class="success">{{t 'Email sent. Check your inbox'}}</span>
        </button>
    </form>
{{/unless}}