{{!< default}}

<main class="site-main">

    {{#post}}
        {{> "content" width="full" full=true}}
    {{/post}}

    {{#is "post"}}
        {{#post}}
            {{> "comments"}}
        {{/post}}
        {{> "related-posts"}}
    {{/is}}

</main>