{{!-- Use this template if you want to show content of all post in one page --}}

{{!< default}}
<div class="content-area">
    <main class="site-main serie-page">
        {{#page}}
            {{> "page-header" smallWidth=true}}
        {{/page}}

        <div class="gh-feed">
            {{#foreach posts}}
                <section class="section-container post-expanded">
                    <div class="single-content gh-content kg-canvas">
                        {{> "components/post-full" showTitle=false link=false}}
                    </div>
                </section>
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}