<div class='hero-wrapper container small'>
    <div class="gh-content">
        <h4 id="heading-4" data-heading="👋 Hello there!">👋 Hello {{@site.title}}!</h4>
        <p>Looks like you're just getting started. To kick things off, here are some helpful guides:</p>
        <ol>
                <li dir="auto">Quick setup — <a data-tooltip-position="top" aria-label="https://themex.studio/docs/braun-docs/#import-demo-content-optional" rel="noopener" class="external-link" href="https://themex.studio/docs/braun-docs/#import-demo-content-optional" target="_blank">Import Demo content</a> or <a data-tooltip-position="top" aria-label="https://themex.studio/docs/braun-docs/#import-internal-tags-optional" rel="noopener" class="external-link" href="https://themex.studio/docs/braun-docs/#import-internal-tags-optional" target="_blank">Import Internal tags (nice to do)</a></li>
                <li dir="auto"><a data-tooltip-position="top" aria-label="https://themex.studio/docs/braun-docs/#upload-routesyaml" rel="noopener" class="external-link" href="https://themex.studio/docs/braun-docs/#upload-routesyaml" target="_blank">Upload Routes.yaml</a></li>
                <li dir="auto"><a data-tooltip-position="top" aria-label="https://themex.studio/docs/braun-docs/#hero-section" rel="noopener" class="external-link" href="https://themex.studio/docs/braun-docs/#hero-section" target="_blank">Crafting hero section</a></li>
                <li dir="auto"><a data-tooltip-position="top" aria-label="https://themex.studio/docs/braun-docs/#blog-section" rel="noopener" class="external-link" href="https://themex.studio/docs/braun-docs/#blog-section" target="_blank">Launching blog page</a></li>
                <li dir="auto"><a data-tooltip-position="top" aria-label="https://themex.studio/docs/braun-docs/#case-studies-section" rel="noopener" class="external-link" href="https://themex.studio/docs/braun-docs/#case-studies-section" target="_blank">Showcasing your works</a></li>
        </ol>
        <p>Need more guidance? Check out our <a data-tooltip-position="top" aria-label="https://themex.studio/docs/braun-docs/#introduction" rel="noopener" class="external-link" href="https://themex.studio/docs/braun-docs/#introduction" target="_blank">Braun documentation</a> or <a data-tooltip-position="top" aria-label="https://themex.studio/contact/" rel="noopener" class="external-link" href="https://themex.studio/contact/" target="_blank">Contact our support</a>,  we’re just a message away</p>
        <p>Let's build something incredible! 💪</p>
        <p>All the best,<br>
        Trong @Themex</p>
    </div>
</div>