<article class="feed no-link" data-month="{{date format="MMMM YYYY"}}">
    <div class="feed-wrapper">
        <div>
            {{> "components/edit-shortcut"}}
            <div class="sub-heading feed-sub-title">{{ content }}</div>
            <h2 class="body-1 feed-title">{{title}}</h2>
        </div>
        <div class="dot-spacer"></div>
        <div class="feed-right">
            {{#if excerpt}}
                <div class="body-1 feed-calendar">{{excerpt}}</div>
            {{/if}}
        </div>
    </div>
</article>